mixin tableTh(...items)
    each item in items
        if item[1]
            th(md-sort-header!= item[1])!= item[0]
        else
            th!= item

mixin tableTd(...items)
    each item in items
        td!= item

//- hero list
table(mdSort, (mdSortChange)='sortData($event)')
    tr
        +tableTh(
            ['ID', 'id'],
            ['Name', 'name'],
            ['Description'],
            ['Edit'],
            ['Delete']
        )
    
    tr(
        *ngFor='let hero of dxHeroList',
        (click)='onSelect(hero)',
        [class.selected]='hero === selectedHero'
    )
        +tableTd(
            '{{hero.id}}',
            '{{hero.name}}',
            '{{hero.description}}'
        )
        td
            i.material-icons(*ngIf='hero !== selectedHero') edit
            i.material-icons(
                *ngIf='hero === selectedHero',
                (click)='goHeroDetail(hero.id)'
            ) description
        td
            i.material-icons((click)='delHero(hero.id)') delete

hr

//- hero-detail([hero]='selectedHero')
//- hero-pagination((heroPage)='onHeroPage($event)')
//- md-paginator(
//-     [length]='heroesLen',
//-     [pageSize]='pageSize',
//-     [pageSizeOptions]='pageSizeOptions',
//-     (page)='pageEvent = $event'
//- )